body {
    margin: 0;
    background: url('photo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

video {
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: fixed;
    object-fit: cover;
}

.msg {
    padding-top: 30px;
    color: #fff;
    text-align: center;
    font-family: monospace;
    font-size: 15px;
}

.msg a {
    color: #fff;
}